
<h1 id="orders" class="display-4 text-center my-3">Orders</h1>

<div class="container-fluid row"> 
    <% if @orders.any? %>
      <% @orders.each do |order| %>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
         <div class="card border border-2 border-success p-1 mt-3" style="width: 18rem;">
          <div class="card-header">
            <h5 class="card-title"><%= order.product_name %></h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              <strong>Customer:</strong> <%= order.customer.full_name %> <br>
              <strong>Product count:</strong> <%= order.product_count %>
            </p>
          </div>

          <div class="card-footer text-end">
            <%= link_to "Show", order, class: "btn btn-primary" %>
            <%= link_to "Edit", edit_order_path(order), class: "btn btn-primary" %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" data-id=<%= order.id.to_s %> 
        data-customer="<%= order.customer.full_name %>" data-productname="<%= order.product_name %>" 
        data-productcount="<%= order.product_count %>">Delete</button>
            
          </div>
        </div>
    </div>
  <% end %>
    <% else %>
     <p>No orders found</p>
    <% end %>
</div>

  <div class="mb-3">
      <%= link_to "New Order", new_order_path, class: "btn btn_success" %>
  </div>

