<p style="color: green"><%= notice %></p>

<h1>Order Details</h1>

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>
  <%= button_to "Destroy this order", @order, method: :delete %>
</div>

<%= link_to "Back to customer", customer_path(@order.customer) %>
